@import '../../../styles/mixins/breakpoints.scss';
@import '../../../styles/variables.scss';

.checkout-billing-information__use-shipping-address {
    background-color: #eee;
    padding: 10px;
    border-radius: 3px;
}

.checkout-billing-information__content {
    margin-top: 10px;
}

.checkout-billing-information__select-payment-method {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #eee;
}

.checkout-summary__warning {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background-color: $color-secondary;
    border-radius: $border-radius-default;
}
