@import '../../../../styles/variables.scss';
@import '../../../../styles/utils/geomanist.scss';

.common-tabs-page {
    padding: 0 10 15 10;
    text-align: justify;
    font-family: 'geomanistregular';
}

.common-tabs-page__block {

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.common-tabs-page__title {
    margin-top: 20px;
    align-self: center;
    width: 100%;
}

.common-tabs-page__content {
  @include breakpoint(handhelds) {
      margin-top: 0;
  }
}

.b1-exam-image {
  background: url('./b1-exam-image.jpg');
  width: 100%;
  height: 400px;
  background-size:contain;
  background-repeat: no-repeat;

  @include breakpoint(handhelds) {
      margin-top: 0;
  }
}
