.file-library-manager__gallery {
    display: flex;
}

.file-library-manager__upload {
    width: 100%;
    max-width: 140px;
    margin-top: 7.5px;
}

.file-library-manager__images {
    width: 100%;
    margin-left: 15px;
}
