@import '../../../../styles/variables.scss';

.header-highlight {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.header-highlight__logo {
    width: 400px;
    height: 100px;
    margin: 20px 0px 20px 0px;
    background: url('./logo-instituto-rojo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    @include breakpoint(handhelds) {
      background: none;
      width: 0px;
      height: 0px;
      margin: 0px;
    }
}

.header-highlight__logo-link {
  align-self: center;
  cursor: pointer;
  padding: 10px;
  &:hover {
      span {
          color: $color-primary;
      }
  }
}
